PORT=5000
NODE_ENV=development
JWT_SECRET=supersecretjwt
JWT_REFRESH_SECRET=refreshsecret
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/notifications
REDIS_URL=redis://localhost:6379
FRONTEND_URL=http://localhost:5173
